.segemented .ant-segmented-group {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
}

.segemented .ant-segmented-item{
  width: 100%;
}

/* CSS for the Pulse Effect */
.thinking {
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid #333; /* Create the typing cursor effect */
  white-space: nowrap;
  animation: typing 2s steps(20) 1s 1 normal both, blinkCaret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 10em; 
  }
}

@keyframes blinkCaret {
  50% {
    border-color: transparent;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Lebar scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #F3F4F6; /* Background track abu-abu muda */
  border-radius: 10px; /* Rounded track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #9CA3AF; /* Warna abu-abu untuk thumb */
  border-radius: 100px; /* Radius penuh membuat thumb berbentuk bulat */
  transition: background 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #6B7280; /* Warna abu-abu lebih gelap saat dihover */
}
