@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  margin: 0;
  padding: 0;
  height: 1200px;
  width: 100vw;
  background-image: url('/public/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

@layer utilities {
  .container {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }

  @media (min-width: 1536px) {
    .container {
      max-width: 1536px;
    }
  }
}

@layer utilities {
  .dot {
    @apply inline-block w-5 h-5 bg-black rounded-full;
    animation: loader 0.8s infinite alternate;
  }

  .dot:nth-of-type(2) {
    animation-delay: 0.2s;
  }

  .dot:nth-of-type(3) {
    animation-delay: 0.6s;
  }

  @keyframes loader {
    0% {
      opacity: 0.9;
      transform: scale(0.5);
    }

    100% {
      opacity: 0.1;
      transform: scale(1);
    }
  }
}


.link-style {
  color: #5DADE2; /* Light blue color */
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
}

.link-style:hover {
  color: #3498DB; /* Slightly darker blue on hover */
}